Repository SubhajL/online-trading, changes with the owners that CODEOWNERS names for each.
All owners: @your-org/trading-team, @your-org/qe, @your-org/be, @your-org/de, @your-org/re, @your-org/do, @your-org/fe

CODEOWNERS:

# CODEOWNERS file for automated pull request reviews
# Each line specifies a file pattern followed by one or more owners.

# Global owners (review everything)
* @your-org/trading-team

# Contracts & Schema (Prompt #2)
/contracts/ @your-org/qe @your-org/be
/contracts/gen/ @your-org/qe @your-org/be
/scripts/codegen_contracts.py @your-org/qe
/tests/contracts/ @your-org/qe

# Database & Migrations (Prompt #3)
/db/migrations/ @your-org/de
/app/engine/adapters/db/ @your-org/de
/tests/db/ @your-org/de

# WebSocket Ingestor (Prompt #4)
/app/engine/ingest/ @your-org/de
/tests/ingest/ @your-org/de

# Features & Indicators (Prompt #5)
/app/engine/shared/math/ @your-org/qe
/app/engine/features/ @your-org/qe
/tests/golden/ @your-org/qe

# SMC Engine (Prompt #6)
/app/engine/smc/ @your-org/qe
/tests/smc/ @your-org/qe

# Retest & Guards (Prompt #7)
/app/engine/retest/ @your-org/qe
/app/engine/regime_vol/ @your-org/qe
/app/engine/news_funding_guards/ @your-org/qe @your-org/be
/tests/retest/ @your-org/qe
/tests/guards/ @your-org/qe

# Decision Engine (Prompt #8)
/app/engine/decision/ @your-org/qe @your-org/be
/app/engine/adapters/router_client/ @your-org/be
/tests/decision/ @your-org/qe

# Order Router (Prompt #9)
/app/router/ @your-org/re @your-org/do

# UI & BFF (Prompt #10)
/app/ui/ @your-org/fe
/app/bff/ @your-org/be @your-org/fe
/app/engine/alert/ @your-org/be

# Backtester & Paper Trading (Bonus)
/app/engine/backtest/ @your-org/qe
/app/engine/paper/ @your-org/qe
/tests/backtest/ @your-org/qe

# Infrastructure & DevOps
/.github/ @your-org/do
/docker/ @your-org/do
/k8s/ @your-org/do
docker-compose*.yml @your-org/do
Dockerfile @your-org/do
Makefile @your-org/do

# Python engine configuration
/app/engine/config.yaml @your-org/qe @your-org/de
/app/engine/types.py @your-org/qe
/app/engine/bus.py @your-org/de

fix: add missing newline at end of CI workflow file
  .github/workflows/ci.yml
Owners: @your-org/do

fix: remove duplicate db-migrate job in CI workflow
  .github/workflows/ci.yml
Owners: @your-org/do

feat: add auto-approve workflow for owner PRs
  .github/workflows/auto-approve.yml
Owners: @your-org/do

fix: add Python test infrastructure to unblock CI (#13)
  app/engine/requirements-dev.txt
  app/engine/requirements.txt
  app/engine/tests/__init__.py
  app/engine/tests/test_basic.py
Owners: @your-org/trading-team

feat: add contract schema system with cross-language code generation
  .github/workflows/ci.yml
  .gitignore
  Makefile
  contracts/examples/README.md
  contracts/examples/candles.v1.example.json
  contracts/examples/decision.v1.example.json
  contracts/examples/features.v1.example.json
  contracts/examples/funding_window.v1.example.json
  contracts/examples/news_window.v1.example.json
  contracts/examples/order_update.v1.example.json
  contracts/examples/regime.v1.example.json
  contracts/examples/signals_raw.v1.example.json
  contracts/examples/smc_events.v1.example.json
  contracts/examples/zones.v1.example.json
  contracts/gen/go/contracts.go
  contracts/gen/python/__init__.py
  contracts/gen/python/models.py
  contracts/gen/ts/index.ts
  contracts/jsonschema/candles.v1.schema.json
  contracts/jsonschema/decision.v1.schema.json
  contracts/jsonschema/features.v1.schema.json
  contracts/jsonschema/funding_window.v1.schema.json
  contracts/jsonschema/news_window.v1.schema.json
  contracts/jsonschema/order_update.v1.schema.json
  contracts/jsonschema/regime.v1.schema.json
  contracts/jsonschema/signals_raw.v1.schema.json
  contracts/jsonschema/smc_events.v1.schema.json
  contracts/jsonschema/zones.v1.schema.json
  pyproject.toml
  scripts/codegen_contracts.py
  tests/contracts/test_candles_schema.py
  tests/contracts/test_codegen.py
  tests/contracts/test_cross_language_serialization.py
  tests/contracts/test_features_schema.py
  tests/contracts/test_generated_models.py
  tests/contracts/test_jsonschema_validation.py
  tests/contracts/test_smc_events_schema.py
  tests/contracts/test_zones_schema.py
Owners: @your-org/do, @your-org/trading-team, @your-org/qe, @your-org/be
